/**
 * @description 此文件由脚本自动生成，请勿手动修改
 * @generated 2025-08-13T13:24:40.469Z
 */

:root {
  /* Fill Colors */
  --colorFillContent: rgb(0 0 0 / 0.06);
  --colorFillAlter: rgb(0 0 0 / 0.02);
  --colorFill: rgb(0 0 0 / 0.15);
  --colorFillSecondary: rgb(0 0 0 / 0.06);
  --colorFillTertiary: rgb(0 0 0 / 0.04);
  --colorFillQuaternary: rgb(0 0 0 / 0.02);

  /* Background Colors */
  --colorBgContainerDisabled: rgb(0 0 0 / 0.04);
  --colorBgTextHover: rgb(0 0 0 / 0.06);
  --colorBgContainer: rgb(255 255 255 / 1);
  --colorBgLayout: rgb(245 245 245 / 1);
  --colorBgElevated: rgb(255 255 255 / 1);
  --colorBgMask: rgb(0 0 0 / 0.45);
  --colorBgBase: rgb(255 255 255 / 1);
  --colorBgSpotlight: rgb(0 0 0 / 0.85);
  --colorBgTextActive: rgb(0 0 0 / 0.15);

  /* Text Colors */
  --colorTextPlaceholder: rgb(0 0 0 / 0.25);
  --colorTextDisabled: rgb(0 0 0 / 0.25);
  --colorTextHeading: rgb(0 0 0 / 0.88);
  --colorTextDescription: rgb(0 0 0 / 0.45);
  --colorText: rgb(0 0 0 / 0.88);
  --colorTextQuaternary: rgb(0 0 0 / 0.25);
  --colorTextBase: rgb(0 0 0 / 1);
  --colorTextLight: rgb(255 255 255 / 1);
  --colorTextSecondary: rgb(0 0 0 / 0.65);
  --colorTextTertiary: rgb(0 0 0 / 0.45);

  /* Control Item Colors */
  --controlItemBgHover: rgb(0 0 0 / 0.04);
  --controlItemBgActive: rgb(230 244 255 / 1);
  --controlItemBgActiveHover: rgb(186 224 255 / 1);

  /* Border Colors */
  --colorBorder: rgb(217 217 217 / 1);
  --colorBorderSecondary: rgb(238 238 238 / 1);
  --colorSplit: rgb(238 238 238 / 1);

  /* Primary Colors */
  --colorPrimaryBg: rgb(220 245 241 / 1);
  --colorPrimaryBorder: rgb(105 219 208 / 1);
  --colorPrimaryBorderHover: rgb(66 207 197 / 1);
  --colorPrimaryHover: rgb(31 194 188 / 1);
  --colorPrimary: rgb(0 180 180 / 1);
  --colorPrimaryActive: rgb(0 138 143 / 1);
  --colorPrimaryTextHover: rgb(31 194 188 / 1);
  --colorPrimaryText: rgb(0 180 180 / 1);
  --colorPrimaryTextActive: rgb(0 138 143 / 1);
  --colorPrimaryBgHover: rgb(149 232 221 / 1);

  /* Success Colors */
  --colorSuccessBg: rgb(235 250 241 / 1);
  --colorSuccessBgHover: rgb(187 237 208 / 1);
  --colorSuccessBorder: rgb(141 224 179 / 1);
  --colorSuccessBorderHover: rgb(99 212 154 / 1);
  --colorSuccessHover: rgb(62 199 133 / 1);
  --colorSuccess: rgb(27 185 114 / 1);
  --colorSuccessActive: rgb(15 148 92 / 1);
  --colorSuccessTextHover: rgb(5 110 70 / 1);
  --colorSuccessText: rgb(0 71 46 / 1);
  --colorSuccessTextActive: rgb(0 33 23 / 1);

  /* Warning Colors */
  --colorWarningBg: rgb(255 251 230 / 1);
  --colorWarningBgHover: rgb(255 241 184 / 1);
  --colorWarningBorder: rgb(255 229 143 / 1);
  --colorWarningBorderHover: rgb(255 214 102 / 1);
  --colorWarningHover: rgb(255 197 61 / 1);
  --colorWarning: rgb(250 173 20 / 1);
  --colorWarningActive: rgb(212 136 6 / 1);
  --colorWarningTextHover: rgb(173 104 0 / 1);
  --colorWarningText: rgb(135 77 0 / 1);
  --colorWarningTextActive: rgb(97 52 0 / 1);

  /* Error Colors */
  --colorErrorBg: rgb(255 241 240 / 1);
  --colorErrorBgHover: rgb(255 204 199 / 1);
  --colorErrorBorder: rgb(255 163 158 / 1);
  --colorErrorBorderHover: rgb(255 120 117 / 1);
  --colorErrorHover: rgb(255 77 79 / 1);
  --colorError: rgb(245 34 45 / 1);
  --colorErrorActive: rgb(207 19 34 / 1);
  --colorErrorTextHover: rgb(168 7 26 / 1);
  --colorErrorText: rgb(130 0 20 / 1);
  --colorErrorTextActive: rgb(92 0 17 / 1);

  /* Cyan Color Palette */
  --cyan-1: rgb(230 255 251);
  --cyan-2: rgb(181 245 236);
  --cyan-3: rgb(135 232 222);
  --cyan-4: rgb(92 219 211);
  --cyan-5: rgb(54 207 201);
  --cyan-6: rgb(19 194 194);
  --cyan-7: rgb(8 151 156);
  --cyan-8: rgb(0 109 117);
  --cyan-9: rgb(0 71 79);
  --cyan-10: rgb(0 35 41);

  /* Blue Color Palette */
  --blue-1: rgb(230 244 255);
  --blue-2: rgb(163 212 255);
  --blue-3: rgb(122 189 255);
  --blue-4: rgb(82 163 255);
  --blue-5: rgb(41 134 255);
  --blue-6: rgb(0 102 255);
  --blue-7: rgb(0 79 217);
  --blue-8: rgb(0 60 179);
  --blue-9: rgb(0 42 140);
  --blue-10: rgb(0 27 102);

  /* Purple Color Palette */
  --purple-1: rgb(249 240 255);
  --purple-2: rgb(239 219 255);
  --purple-3: rgb(211 173 247);
  --purple-4: rgb(179 127 235);
  --purple-5: rgb(146 84 222);
  --purple-6: rgb(114 46 209);
  --purple-7: rgb(83 29 171);
  --purple-8: rgb(57 16 133);
  --purple-9: rgb(34 7 94);
  --purple-10: rgb(18 3 56);

  /* Green Color Palette */
  --green-1: rgb(235 250 241);
  --green-2: rgb(187 237 208);
  --green-3: rgb(141 224 179);
  --green-4: rgb(99 212 154);
  --green-5: rgb(62 199 133);
  --green-6: rgb(27 185 114);
  --green-7: rgb(15 148 92);
  --green-8: rgb(5 110 70);
  --green-9: rgb(0 71 46);
  --green-10: rgb(0 33 23);

  /* Magenta Color Palette */
  --magenta-1: rgb(255 240 246);
  --magenta-2: rgb(255 214 231);
  --magenta-3: rgb(255 173 210);
  --magenta-4: rgb(255 133 192);
  --magenta-5: rgb(247 89 171);
  --magenta-6: rgb(235 47 150);
  --magenta-7: rgb(196 29 127);
  --magenta-8: rgb(158 16 104);
  --magenta-9: rgb(120 6 80);
  --magenta-10: rgb(82 3 57);

  /* Red Color Palette */
  --red-1: rgb(255 241 240);
  --red-2: rgb(255 204 199);
  --red-3: rgb(255 163 158);
  --red-4: rgb(255 120 117);
  --red-5: rgb(255 77 79);
  --red-6: rgb(245 34 45);
  --red-7: rgb(207 19 34);
  --red-8: rgb(168 7 26);
  --red-9: rgb(130 0 20);
  --red-10: rgb(92 0 17);

  /* Orange Color Palette */
  --orange-1: rgb(255 247 230);
  --orange-2: rgb(255 231 186);
  --orange-3: rgb(255 213 145);
  --orange-4: rgb(255 192 105);
  --orange-5: rgb(255 169 64);
  --orange-6: rgb(250 140 22);
  --orange-7: rgb(212 107 8);
  --orange-8: rgb(173 78 0);
  --orange-9: rgb(135 56 0);
  --orange-10: rgb(97 37 0);

  /* Yellow Color Palette */
  --yellow-1: rgb(254 255 230);
  --yellow-2: rgb(255 255 184);
  --yellow-3: rgb(255 251 143);
  --yellow-4: rgb(255 245 102);
  --yellow-5: rgb(255 236 61);
  --yellow-6: rgb(250 219 20);
  --yellow-7: rgb(212 177 6);
  --yellow-8: rgb(173 139 0);
  --yellow-9: rgb(135 104 0);
  --yellow-10: rgb(97 71 0);

  /* Volcano Color Palette */
  --volcano-1: rgb(255 242 232);
  --volcano-2: rgb(255 216 191);
  --volcano-3: rgb(255 187 150);
  --volcano-4: rgb(255 156 110);
  --volcano-5: rgb(255 122 69);
  --volcano-6: rgb(250 84 28);
  --volcano-7: rgb(212 56 13);
  --volcano-8: rgb(173 33 2);
  --volcano-9: rgb(135 20 0);
  --volcano-10: rgb(97 11 0);

  /* Geekblue Color Palette */
  --geekblue-1: rgb(240 245 255);
  --geekblue-2: rgb(214 228 255);
  --geekblue-3: rgb(173 198 255);
  --geekblue-4: rgb(133 165 255);
  --geekblue-5: rgb(89 126 247);
  --geekblue-6: rgb(47 84 235);
  --geekblue-7: rgb(29 57 196);
  --geekblue-8: rgb(16 35 158);
  --geekblue-9: rgb(6 17 120);
  --geekblue-10: rgb(3 8 82);

  /* Lime Color Palette */
  --lime-1: rgb(252 255 230);
  --lime-2: rgb(244 255 184);
  --lime-3: rgb(234 255 143);
  --lime-4: rgb(211 242 97);
  --lime-5: rgb(186 230 55);
  --lime-6: rgb(160 217 17);
  --lime-7: rgb(124 179 5);
  --lime-8: rgb(91 140 0);
  --lime-9: rgb(63 102 0);
  --lime-10: rgb(37 64 0);

  /* Gold Color Palette */
  --gold-1: rgb(255 251 230);
  --gold-2: rgb(255 241 184);
  --gold-3: rgb(255 229 143);
  --gold-4: rgb(255 214 102);
  --gold-5: rgb(255 197 61);
  --gold-6: rgb(250 173 20);
  --gold-7: rgb(212 136 6);
  --gold-8: rgb(173 104 0);
  --gold-9: rgb(135 77 0);
  --gold-10: rgb(97 52 0);

  /* Link Colors */
  --colorLink: rgb(0 180 180 / 1);
  --colorLinkHover: rgb(66 207 197 / 1);
  --colorLinkActive: rgb(0 138 143 / 1);

  /* Icon Colors */
  --colorIcon: rgb(0 0 0 / 0.45);
  --colorIconHover: rgb(0 0 0 / 0.88);
}

:root[theme='dark'] {
  /* Fill Colors */
  --colorFillContent: rgb(255 255 255 / 0.08);
  --colorFillAlter: rgb(255 255 255 / 0.04);
  --colorFill: rgb(255 255 255 / 0.15);
  --colorFillSecondary: rgb(255 255 255 / 0.08);
  --colorFillTertiary: rgb(255 255 255 / 0.06);
  --colorFillQuaternary: rgb(255 255 255 / 0.04);

  /* Background Colors */
  --colorBgContainerDisabled: rgb(255 255 255 / 0.06);
  --colorBgTextHover: rgb(255 255 255 / 0.08);
  --colorBgContainer: rgb(38 38 44 / 1);
  --colorBgLayout: rgb(19 19 22 / 1);
  --colorBgElevated: rgb(31 31 31 / 1);
  --colorBgMask: rgb(0 0 0 / 0.45);
  --colorBgBase: rgb(19 19 22 / 1);
  --colorBgSpotlight: rgb(80 80 93 / 1);
  --colorBgTextActive: rgb(255 255 255 / 0.15);

  /* Text Colors */
  --colorTextPlaceholder: rgb(255 255 255 / 0.25);
  --colorTextDisabled: rgb(255 255 255 / 0.25);
  --colorTextHeading: rgb(255 255 255 / 0.85);
  --colorTextDescription: rgb(255 255 255 / 0.65);
  --colorText: rgb(255 255 255 / 0.85);
  --colorTextQuaternary: rgb(255 255 255 / 0.25);
  --colorTextBase: rgb(255 255 255 / 1);
  --colorTextLight: rgb(255 255 255 / 1);
  --colorTextSecondary: rgb(255 255 255 / 0.65);
  --colorTextTertiary: rgb(255 255 255 / 0.45);

  /* Control Item Colors */
  --controlItemBgHover: rgb(0 0 0 / 0.04);
  --controlItemBgActive: rgb(22 18 44 / 1);
  --controlItemBgActiveHover: rgb(29 21 69 / 1);

  /* Border Colors */
  --colorBorder: rgb(80 80 93 / 1);
  --colorBorderSecondary: rgb(64 64 74 / 1);
  --colorSplit: rgb(64 64 74 / 1);

  /* Primary Colors */
  --colorPrimaryBg: rgb(22 41 43 / 1);
  --colorPrimaryBorder: rgb(14 68 68 / 1);
  --colorPrimaryBorderHover: rgb(11 92 92 / 1);
  --colorPrimaryHover: rgb(30 177 171 / 1);
  --colorPrimary: rgb(3 156 156 / 1);
  --colorPrimaryActive: rgb(7 124 124 / 1);
  --colorPrimaryTextHover: rgb(30 177 171 / 1);
  --colorPrimaryText: rgb(0 180 180 / 1);
  --colorPrimaryTextActive: rgb(7 124 124 / 1);
  --colorPrimaryBgHover: rgb(15 50 51 / 1);

  /* Success Colors */
  --colorSuccessBg: rgb(0 33 23 / 1);
  --colorSuccessBgHover: rgb(0 71 46 / 1);
  --colorSuccessBorder: rgb(5 110 70 / 1);
  --colorSuccessBorderHover: rgb(15 148 92 / 1);
  --colorSuccessHover: rgb(23 94 62 / 1);
  --colorSuccess: rgb(27 185 114 / 1);
  --colorSuccessActive: rgb(25 127 81 / 1);
  --colorSuccessTextHover: rgb(58 181 87 / 1);
  --colorSuccessText: rgb(26 160 100 / 1);
  --colorSuccessTextActive: rgb(25 127 81 / 1);

  /* Warning Colors */
  --colorWarningBg: rgb(43 33 17 / 1);
  --colorWarningBgHover: rgb(68 49 17 / 1);
  --colorWarningBorder: rgb(89 66 20 / 1);
  --colorWarningBorderHover: rgb(124 89 20 / 1);
  --colorWarningHover: rgb(232 179 57 / 1);
  --colorWarning: rgb(216 150 20 / 1);
  --colorWarningActive: rgb(170 119 20 / 1);
  --colorWarningTextHover: rgb(232 179 57 / 1);
  --colorWarningText: rgb(216 150 20 / 1);
  --colorWarningTextActive: rgb(170 119 20 / 1);

  /* Error Colors */
  --colorErrorBg: rgb(42 18 21 / 1);
  --colorErrorBgHover: rgb(67 20 24 / 1);
  --colorErrorBorder: rgb(88 24 28 / 1);
  --colorErrorBorderHover: rgb(121 26 31 / 1);
  --colorErrorHover: rgb(232 71 73 / 1);
  --colorError: rgb(211 32 41 / 1);
  --colorErrorActive: rgb(166 29 36 / 1);
  --colorErrorTextHover: rgb(232 71 73 / 1);
  --colorErrorText: rgb(211 32 41 / 1);
  --colorErrorTextActive: rgb(166 29 36 / 1);

  /* Cyan Color Palette */
  --cyan-1: rgb(17 33 35);
  --cyan-2: rgb(17 53 54);
  --cyan-3: rgb(20 72 72);
  --cyan-4: rgb(20 98 98);
  --cyan-5: rgb(51 188 183);
  --cyan-6: rgb(19 168 168);
  --cyan-7: rgb(19 133 133);
  --cyan-8: rgb(51 188 183);
  --cyan-9: rgb(19 168 168);
  --cyan-10: rgb(19 133 133);

  /* Blue Color Palette */
  --blue-1: rgb(17 26 44);
  --blue-2: rgb(15 35 69);
  --blue-3: rgb(14 45 91);
  --blue-4: rgb(11 57 126);
  --blue-5: rgb(39 123 232);
  --blue-6: rgb(0 102 255);
  --blue-7: rgb(7 73 173);
  --blue-8: rgb(39 123 232);
  --blue-9: rgb(3 90 220);
  --blue-10: rgb(7 73 173);

  /* Purple Color Palette */
  --purple-1: rgb(29 23 39);
  --purple-2: rgb(43 30 61);
  --purple-3: rgb(58 39 81);
  --purple-4: rgb(77 49 111);
  --purple-5: rgb(163 116 214);
  --purple-6: rgb(127 74 192);
  --purple-7: rgb(102 62 151);
  --purple-8: rgb(163 116 214);
  --purple-9: rgb(127 74 192);
  --purple-10: rgb(102 62 151);

  /* Green Color Palette */
  --green-1: rgb(0 33 23);
  --green-2: rgb(0 71 46);
  --green-3: rgb(5 110 70);
  --green-4: rgb(15 148 92);
  --green-5: rgb(23 94 62);
  --green-6: rgb(27 185 114);
  --green-7: rgb(25 127 81);
  --green-8: rgb(58 181 87);
  --green-9: rgb(26 160 100);
  --green-10: rgb(25 127 81);

  /* Magenta Color Palette */
  --magenta-1: rgb(41 19 33);
  --magenta-2: rgb(64 22 47);
  --magenta-3: rgb(85 28 59);
  --magenta-4: rgb(117 32 79);
  --magenta-5: rgb(224 82 156);
  --magenta-6: rgb(203 43 131);
  --magenta-7: rgb(160 38 105);
  --magenta-8: rgb(224 82 156);
  --magenta-9: rgb(203 43 131);
  --magenta-10: rgb(160 38 105);

  /* Red Color Palette */
  --red-1: rgb(42 18 21);
  --red-2: rgb(67 20 24);
  --red-3: rgb(88 24 28);
  --red-4: rgb(121 26 31);
  --red-5: rgb(232 71 73);
  --red-6: rgb(211 32 41);
  --red-7: rgb(166 29 36);
  --red-8: rgb(232 71 73);
  --red-9: rgb(211 32 41);
  --red-10: rgb(166 29 36);

  /* Orange Color Palette */
  --orange-1: rgb(43 29 17);
  --orange-2: rgb(68 42 17);
  --orange-3: rgb(89 56 21);
  --orange-4: rgb(124 74 21);
  --orange-5: rgb(232 154 60);
  --orange-6: rgb(216 122 22);
  --orange-7: rgb(170 98 21);
  --orange-8: rgb(232 154 60);
  --orange-9: rgb(216 122 22);
  --orange-10: rgb(170 98 21);

  /* Yellow Color Palette */
  --yellow-1: rgb(43 38 17);
  --yellow-2: rgb(68 59 17);
  --yellow-3: rgb(89 80 20);
  --yellow-4: rgb(124 110 20);
  --yellow-5: rgb(232 214 57);
  --yellow-6: rgb(216 189 20);
  --yellow-7: rgb(170 149 20);
  --yellow-8: rgb(232 214 57);
  --yellow-9: rgb(216 189 20);
  --yellow-10: rgb(170 149 20);

  /* Volcano Color Palette */
  --volcano-1: rgb(43 22 17);
  --volcano-2: rgb(68 29 18);
  --volcano-3: rgb(89 39 22);
  --volcano-4: rgb(124 49 24);
  --volcano-5: rgb(232 112 64);
  --volcano-6: rgb(216 74 27);
  --volcano-7: rgb(170 62 25);
  --volcano-8: rgb(232 112 64);
  --volcano-9: rgb(216 74 27);
  --volcano-10: rgb(170 62 25);

  /* Geekblue Color Palette */
  --geekblue-1: rgb(19 22 41);
  --geekblue-2: rgb(22 29 64);
  --geekblue-3: rgb(28 39 85);
  --geekblue-4: rgb(32 49 117);
  --geekblue-5: rgb(82 115 224);
  --geekblue-6: rgb(43 74 203);
  --geekblue-7: rgb(38 62 160);
  --geekblue-8: rgb(82 115 224);
  --geekblue-9: rgb(43 74 203);
  --geekblue-10: rgb(38 62 160);

  /* Lime Color Palette */
  --lime-1: rgb(31 38 17);
  --lime-2: rgb(46 60 16);
  --lime-3: rgb(62 79 19);
  --lime-4: rgb(83 109 19);
  --lime-5: rgb(169 209 52);
  --lime-6: rgb(139 187 17);
  --lime-7: rgb(111 148 18);
  --lime-8: rgb(169 209 52);
  --lime-9: rgb(139 187 17);
  --lime-10: rgb(111 148 18);

  /* Gold Color Palette */
  --gold-1: rgb(43 33 17);
  --gold-2: rgb(68 49 17);
  --gold-3: rgb(89 66 20);
  --gold-4: rgb(124 89 20);
  --gold-5: rgb(232 179 57);
  --gold-6: rgb(216 150 20);
  --gold-7: rgb(170 119 20);
  --gold-8: rgb(232 179 57);
  --gold-9: rgb(216 150 20);
  --gold-10: rgb(170 119 20);

  /* Link Colors */
  --colorLink: rgb(3 156 156 / 1);
  --colorLinkHover: rgb(11 92 92 / 1);
  --colorLinkActive: rgb(7 124 124 / 1);

  /* Icon Colors */
  --colorIcon: rgb(255 255 255 / 0.45);
  --colorIconHover: rgb(255 255 255 / 0.85);
}
